body {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    background: steelblue;
    color: lightsteelblue;
    margin-left: 0px;
    font-size: 16px;
}




button {
      color: slategrey;
      cursor: pointer;

}

button:focus {
  outline:0;
}

.head-links{
      margin-left: 30px;
      //font-weight: bold;
      color: lightsteelblue;
}

.is-active:before {
    content: "»";
    color: white;
    text-decoration:none !important;
}

.is-active{
      margin-left:  16px;
      color: white !important;
      text-decoration:none;
}


.authenticated {
      color: lightgreen;
      font-size: 16px;
}

.not-authenticated {
      color: orange;
      font-size: 16px;
}



a {
      color: lightsteelblue;
      text-decoration: underline;
}

/* visited link */
a:visited {
    color: lightsteelblue;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: red;
}
