body {
    font-family: Tahoma, Georgia, Arial, sans-serif;
    background: lightslategrey;
    color: black;
    font-size: 16px;
}




button {
      color: slategrey;
      cursor: pointer;

}

button:focus {
  outline:0;
}



.center_container {
  max-width: 750px;
  margin: 0 auto;

}



.header {
  background: #172226;
  color: white;
  margin-bottom: 0px;
  padding: 0px 0px;
  margin-left: 0px;

}


.header__title {
  font-size: 48px;
  color: white;
  margin-bottom: 4px;
}


.header__subtitle {
  color: ivory;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 0px;
}


.search-bar {
    text-align: left;
    margin-left: 0px;
}


.pick-list {
    list-style: none;
    text-align: center;
    margin-left: 100px;
    position: absolute;
    z-index:99;
}

.pick-list-item {
    text-align: left;
    background: white;
    color: steelblue;
    height: 30px;
    width: 400px;
    margin-top: 0px;
    margin-left: 30px;
    padding-left: 20px;
    border: 1px solid lightblue;
    border-radius: 3px;


}


.items-list {
    border-style: solid;
    border-width: 3px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    position: relative;
}




.div-border {
    border-style: solid;
    border-width: 3px !important;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    border-color: black;
}

.div-border-thin {
    border-style: solid;
    border-width: 2px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}



.head-links{
      margin-left: 30px;
      //font-weight: bold;
      color: lightsteelblue;
}

.is-active:before {
    content: "»";
    color: white;
    text-decoration:none !important;
}

.is-active{
      margin-left:  16px;
      color: white !important;
      text-decoration:none;
}


.authenticated {
      color: lightgreen;
      font-size: 16px;
}

.not-authenticated {
      color: orange;
      font-size: 16px;
}


.div-border {
    border-style: solid;
    border-width: 5px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.exp-total {
    padding-bottom: 10px;
    padding-left: 48px;
}

a {
      color: lightsteelblue;
      text-decoration: underline;
}

/* visited link */
a:visited {
    color: lightsteelblue;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: red;
}
