
@import "./base";
@import "./centerbox";

@media (max-width: 500px) {
      * {
            color: white;
        }
     .add-option {
        flex-direction: row;

     }

}

.add-option {
  display: flex;
  flex-direction: column;
  padding: 20px

}
