
@import "./base";
@import "./centerbox";

@media (max-width: 500px) {
      * {
            color: white;
        }
     .add-option {
        flex-direction: row;

     }

}


.add-option {
  display: flex;
  flex-direction: column;
  padding: 20px

}


.big-button {
    background: purple;
    border: none;
    border-bottom: 3px solid darken(navy, 20%);
    border-right: 2px solid darken(navy, 20%);
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    height: 60px;
    width: 300px;
    border-radius:4px;

}

.big-button:active {
    background: slateblue;
    border-bottom: none;
    border-right: none;
    color:white;
    cursor:pointer;
    outline:none;
    box-shadow: inset 3px 3px 3px navy;
}



.big-button:hover {
    background-color: mediumpurple;
    color: white;
}



.small-button {
    background: purple;
    border: none;
    border-bottom: 3px solid darken(navy, 20%);
    border-right: 2px solid darken(navy, 20%);
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    font-size: 18px;
    height: 40px;
    width: 200px;
    border-radius:4px;
}

.small-button-remove {
    line-height: 12px;
    background: none;
    border: 1px solid;
    color: lightsteelblue;
    font-size: 10px;
    height: 20px;
    width: 60px;
    border-radius:4px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    text-align: center;

}



.header {
  background: midnightblue;
  color: white;
  margin-bottom: 24px;
  padding: 40px 0px;
  margin-left: 0px;


h1 {
  font-size: 48px;
  color: white;
}

}

.subtitle {
  color: lightsteelblue;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
}

.center-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;

}
